h1 Jingle Results
div(data-ng-if="allTracks.length" data-ng-repeat="jingle in allTracks | filter:taggedGenreTracks")
  a(ui-sref="track({id: {{jingle.id}} })" ui-sref-opts="{reload:true, notify:true}") {{jingle.title}}